* {
    margin: 0;
    padding: 0;
}
ul {
    display: flex;
    background: gray;
    padding: 10px;

}
li {
    list-style: none;
    padding: 10px;
}
li a {
    text-decoration: none;
    color: tomato;
}
.active {
    width: 50px;
    background: green;
    padding: 10px;
    border-radius: 6px;
}
section {
    width: 50%;
    margin:40px auto;
}
section video{
    width: 100%;
}